<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center> 
          <ion-menu-button autoHide="false"></ion-menu-button>
          <!-- <ion-icon name="menu" (click)='openMenu()' float-left ></ion-icon>  -->
          SI RE
          <ion-icon name="notifications" float-right ></ion-icon>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button class='add-post' routerLink="/create-post" color="warning" shape="round"> <ion-icon name="add"></ion-icon> </ion-button>
    <!-- <ion-toolbar class="listing-search">
      <ion-searchbar></ion-searchbar>
    </ion-toolbar> -->
    <p text-center *ngIf='!!Postings && Postings.length == 0'> No listing to show</p>
    <ion-card *ngFor="let item of Postings; let i = index">
      <ion-card-content >
        <ion-grid>
          <ion-row class='listing-item'>
            <ion-col class='info' size="7">
              <h1>{{item.title}} - {{item.typeofpost}}</h1>
              <p>{{item.terms}}</p>
              <p><ion-label> Propert Type - </ion-label>{{item.type}}</p>
              <p>
                <ion-icon name="locate" pull-left></ion-icon> {{item.location}}
              </p>
            </ion-col>
            <ion-col class='price' size="5" float-right text-right>
              <h2> {{item.budget | currency:'INR'}}</h2>
              <a class='view-details' (click)='viewDetails(item)'>View Details</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf='showNext' color="warning" shape="round" fill="solid" float-right>Next <ion-icon name="arrow-forward"></ion-icon></ion-button>

</ion-content>
