<ion-header>
  <ion-toolbar style="background:#fe914c;">
    <ion-title  style="background:#fe914c; padding:0;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center style="padding:20px 0;  color:#fff; "> 
          <ion-menu-button autoHide="false" style=" position: absolute; left: 10px;"></ion-menu-button>
          <!-- <ion-icon name="menu" (click)='openMenu()' float-left ></ion-icon>  -->
          SiRe 
          <ion-badge float-right color="warning" style=" padding-right:10px" *ngIf='showCount'>{{count}}</ion-badge><ion-icon name="notifications" float-right routerLink="/notification"></ion-icon>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <button class='add-post' routerLink="/create-post" color="warning" shape="round"> <ion-icon name="add"></ion-icon> </button>
    <!-- <ion-toolbar class="listing-search">
      <ion-searchbar showCancelButton  [(ngModel)]="searchInput" (change)="search($event)"  (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-toolbar> -->

    <ion-segment [(ngModel)]="segmentType" (ionChange)="onSegmentChanged($event.target.value)">
        <ion-segment-button  value="availablity">
            <ion-label>Availability</ion-label>
        </ion-segment-button>
        <ion-segment-button value="requirement">
            <ion-label>Requirement</ion-label>
        </ion-segment-button>
    </ion-segment>

    
    <p text-center *ngIf='!!PostingsResp && PostingsResp.length == 0'> {{showText}}</p>
    <ion-card *ngFor="let item of PostingsResp; let i = index" class="list-card">
      <p text-center *ngIf='item?.records === 0'> No listing to show</p>
      <ion-card-content *ngIf='item?.records === undefined'>
        <ion-grid>
          <ion-row class='listing-item'>
            <h1>{{item.title}}</h1>
            <ion-col class='info' size="7">
              <p>{{item.terms}}</p>
              <p><ion-label> Property Type - </ion-label>{{item.type}}</p>
              <p>
                <ion-icon name="locate" pull-left></ion-icon> {{item.location}}
              </p>
            </ion-col>
            <ion-col class='price' size="5" float-right text-right>
              <h2> {{item.budget | currency:'INR'}}</h2>
              <ul class='share-ul'>
                <!-- <li><a class='whatsapp' href='javascript:void(null)' (click)='share("whatsapp",item)'>  <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon> </a></li> -->
                <li><a href='javascript:void(null)' (click)='share("other",item)'>     <ion-icon ios="ios-share" md="md-share"></ion-icon> </a></li>
              </ul>
                
                <p><a class='view-details' (click)='viewDetails(item)'>View Details</a></p>
            </ion-col>
          </ion-row>
          <ion-row>
              <small>Posted on: {{item.post_date | date:'dd/MM/yyyy HH:mm'}}</small>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
