<ion-header>
  <ion-toolbar>
    <ion-title  style="background:#fe914c; padding:0;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center style="padding:20px 0;  color:#fff; "> 
          <ion-menu-button autoHide="false" style=" position: absolute; left: 10px;"></ion-menu-button>
          <!-- <ion-icon name="menu" (click)='openMenu()' float-left ></ion-icon>  -->
         SiRe
          <ion-icon name="notifications" float-right style=" padding-right:10px" routerLink="/notification"></ion-icon>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>