<ion-header>
  <ion-toolbar>
    <ion-title  style="background:#fe914c; padding:0;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center> 
          <ion-menu-button autoHide="false" style=" position: absolute; left: 10px;"></ion-menu-button>
          <!-- <ion-icon name="menu" (click)='openMenu()' float-left ></ion-icon>  -->
          Search Post
          <div class="notifications" float-right>          
        <ion-icon name="notifications" float-right routerLink="/notification"></ion-icon>
        <ion-badge  color="warning" style=" padding-right:10px" *ngIf='showCount'> <span class='noti-count' *ngIf='count != 0'>{{count}}</span> </ion-badge>
      </div>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  	<div padding>
        <ion-row margin-top>
            <ion-item>
              <ion-label position="floating"> Post Type
              </ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="search.typeofpost">
                <ion-select-option value="requirement">Requirement</ion-select-option>
                <ion-select-option value="availablity">Availablity</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating"> Location </ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="search.location">
                <ion-select-option *ngFor='let s of state; let i = index' value="{{s}}">{{s}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating"> Property Type </ion-label>
              <ion-select interface="action-sheet" [(ngModel)]="search.type">
                <ion-select-option value="Land">Land</ion-select-option>
                <ion-select-option value="Flats"> Flats</ion-select-option>
                <ion-select-option value="Villa"> Villa</ion-select-option>
                <ion-select-option value="House"> House</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <button class='search-btn' [disabled]="!(search.typeofpost != '' || search.location != '' || search.type != '')" (click)='filter()'>Search</button>
            </ion-item>

        </ion-row>
    </div>
</ion-content>
