<ion-header >
 
  <ion-toolbar>
    <ion-title>
       <div class="header" style="background: #fe914c; padding: 0px 0px 49px 0px;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
          <div class='header-title'>
           <ion-icon name="arrow-back" float-left routerLink="/login"></ion-icon> <h1  text-center>Send Message</h1>
        </div>
      </div>
     </div>
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content padding>
    <form class='login-form' [formGroup]="messageForm">
        <p class='form-header' text-center>Fill in the following details</p>
        
        <ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Mobile No <span class="mandatory">*</span> </ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Name <span class="mandatory">*</span> </ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-row>
	
		<ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Subject <span class="mandatory">*</span> </ion-label>
            <ion-input type="text" formControlName="subject"></ion-input>
          </ion-item>
        </ion-row>
        
		<ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Message <span class="mandatory">*</span> </ion-label>
            <ion-textarea placeholder="Enter your message here..." formControlName="message"></ion-textarea>
          </ion-item>
        </ion-row>

        <ion-row>
            <ion-button color="warning" class='reg-btn' shape="round" fill="solid" [disabled]='!messageForm.valid' (click)='register()'>Send</ion-button>
            <!-- <span class='reg' routerLink="/register" text-center> Already Registred? <a [routerLink]="['/login']">Login here</a></span> -->
        </ion-row>

    </form>
</ion-content>

