/* .logo-img {
    width: 100px;
    position: relative;
    margin: auto auto;
} */
.header-title {
    width: 100%;
    margin: 0;
}

.mandatory{
    color: red;
}

.logo-img[_ngcontent-c0] {
    width: 110% !important;
    position: relative;
    margin: -19px -50px;
}