.logo-img {
    width: 100px;
    position: relative;
    margin: auto auto;
}
.header-title {
    width: 100%;
    margin: 0;
}
.sqft-placeholder{
    position: absolute;
    top: 37px;
    right: 5px;
}
.header{
background: #fe914c;
}
.logo-img[_ngcontent-c0] {
    width: 100% !important;
    position: relative;
    margin: -7px 0px;
}