<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center> 
          <ion-menu-button autoHide="false"></ion-menu-button>
          Create Post
          <ion-icon name="notifications" float-right ></ion-icon>
      </h1>
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title  style="background:#fe914c; padding:0;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath"></ion-img>
      </div>
      <h1 class='header-title' text-center style="padding:20px 0;  color:#fff; "> 
          <ion-menu-button autoHide="false" style=" position: absolute; left: 10px;"></ion-menu-button>
          <!-- <ion-icon name="menu" (click)='openMenu()' float-left ></ion-icon>  -->
         Create Post
         <div class="notifications" float-right>          
        <ion-icon name="notifications" float-right routerLink="/notification"></ion-icon>
        <ion-badge  color="warning" style=" padding-right:10px" *ngIf='showCount'> <span class='noti-count' *ngIf='count != 0'>{{count}}</span> </ion-badge>
      </div>
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form class='login-form' *ngIf='!!postForm' [formGroup]="postForm">
    <ion-row margin-top>
      <ion-item>
        <ion-label position="floating"> Post Type
          <span class="mandatory">*</span>
        </ion-label>
        <ion-select interface="action-sheet" formControlName="typeofpost">
          <ion-select-option value="requirement">Requirement</ion-select-option>
          <ion-select-option value="availablity">Availablity</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Title
          <span class="mandatory">*</span> </ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Location </ion-label>
        <ion-select interface="action-sheet" formControlName="location">
          <ion-select-option *ngFor='let s of state; let i = index' value="{{s}}">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Property Area </ion-label>
        <ion-input type="text" formControlName="area"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Terms
          <span class="mandatory">*</span>
        </ion-label>
        <ion-select interface="action-sheet" formControlName="terms">
          <ion-select-option value="For Sale">For Sale</ion-select-option>
          <ion-select-option value="For Rental">For Rental</ion-select-option>
          <ion-select-option value="For Lease">For Lease</ion-select-option>
          <ion-select-option value="For JV">For JV</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Property Condition
          <span class="mandatory">*</span> </ion-label>
        <ion-select interface="action-sheet" formControlName="condition">
          <ion-select-option value="New">New</ion-select-option>
          <ion-select-option value="Resale"> Resale</ion-select-option>
          <ion-select-option value="Not-New"> Not-New</ion-select-option>
          <ion-select-option value="Old"> Old</ion-select-option>
          <ion-select-option value="Recent"> Recent</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Property Type
          <span class="mandatory">*</span> </ion-label>
        <ion-select interface="action-sheet" formControlName="type">
          <ion-select-option value="Land">Land</ion-select-option>
          <ion-select-option value="Flats"> Flats</ion-select-option>
          <ion-select-option value="Villa"> Villa</ion-select-option>
          <ion-select-option value="House"> House</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating"> Area in -Sq.Ft </ion-label>
        <ion-input type="number" formControlName="area"></ion-input>
        <span class="sqft-placeholder">Sq.ft</span>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Dimension </ion-label>
        <ion-input type="text" formControlName="dimension"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Facing </ion-label>
        <ion-select interface="action-sheet" formControlName="facing">
          <ion-select-option value="all">All</ion-select-option>
          <ion-select-option value="north">North</ion-select-option>
          <ion-select-option value="south">South</ion-select-option>
          <ion-select-option value="east">East</ion-select-option>
          <ion-select-option value="west">West</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Landmark</ion-label>
        <ion-input type="text" formControlName="landmark"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Budget
          <span class="mandatory">*</span>
        </ion-label>
        <ion-input type="number" formControlName="budget"></ion-input>
      </ion-item>


      <!-- <ion-item no-lines>
        <ion-label position="floating"> Contact No
          <span class="mandatory">*</span>
        </ion-label>
        <ion-input type="tel" formControlName="contact"></ion-input>
      </ion-item> -->
      <ion-item no-lines>
        <ion-label position="floating"> Contact No
          <span class="mandatory">*</span>
        </ion-label>
        <br>
      <!--   <div style='width: 100%;' formArrayName="contacts" *ngFor="let contact of postForm.get('contacts').controls; let i = index;">
          <div [formGroupName]="i">
            <ion-input type="tel" formControlName="contact"></ion-input> 
            <ion-button [disabled]="!postForm.controls.contacts.controls[i].valid" (click)="addContact()">
                <ion-icon name="add"></ion-icon> 
            </ion-button>
            <ion-button *ngIf="i > 0" (click)="removeContact(i)">
                <ion-icon name="close"></ion-icon> 
            </ion-button>
          </div> 
        </div>-->
        <ion-input type="text" formControlName="contact"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" rows="3" cols="20">Comments</ion-label>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>
    </ion-row>


    <ion-button [disabled]="!postForm.valid" (click)='postSubmit()' color="warning" shape="round" fill="solid"
      float-right>Submit</ion-button>
    <ion-button color="warning" shape="round" (click)='clear()' fill="solid" float-right>Clear</ion-button>

  </form>
</ion-content>
