.option-btn {
    margin: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    background: #fe914c;
    font-size: 30px;
    color: white;
}

.option-title{
    margin: 10px;
    position: relative;
    top: -10px;
}

.logo-img[_ngcontent-c0] {
    width: 100% !important;
    position: relative;
   
}

.dashboard_list{
    width: 200px;
    margin: 0 auto;
}