// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item {
    width: 100%;
    background-color: transparent;
    position: relative;
}

.my-custom-menu {
    --width: 300px;
}


.header-title {
    width: 100%;
    margin: 0;
}
ion-menu-button{
    --min-width: 50px;
    ion-menu-toggle{
        button {
            margin: 0 !important;
            width: 50px;
            position: relative;
            display: inline;
            float: left;
        }
    }
    
}
#spinner-container{
    z-index: 15;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}   
#lds-ripple {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left:-100px;
}
@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
#lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#lds-ripple div:nth-child(1) {
  border-color: #488aff;
}
#lds-ripple div:nth-child(2) {
  border-color: #32db64;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.mandatory{
  color: red;
}

.edit-icon {
  color: orange;
  font-size: 22px;
  cursor: pointer;
}

.delete-icon { color: red; font-size: 22px; cursor: pointer;}

.item-native {
  --background-color: transparent !important;
}
input.text { background-color:transparent }
.icon-cursor {
  cursor: pointer;
}
.inner-scroll{ padding:0;}
