.posting-container{
	width:100%
}
.posting-container .edit-icon{
	position:absolute;
	bottom: -15px;
	right:45px;
}
.posting-container .delete-icon{
	position:absolute;
	bottom: -15px;
	right:0px;
}
.logo-img[_ngcontent-c0] {
    width: 110% !important;
    position: relative;
    margin: -19px -50px;
}
.posting-container .share-icon{
    position: absolute;
    bottom: -15px;
    right: 85px;
    font-size: 20px;
}
.logo-img[_ngcontent-c0] {
    width: 110% !important;
    position: relative;
    margin: -19px -50px;
}