.logo-img {
    width: 100px;
    position: relative;
    margin: auto auto;
}
.header-title {
    width: 100%;
    margin: 0;
}

.reg-btn {
    width: 100%;
    position: relative;
    top: 20px;
    
    > button{
        background-color: rgb(255,145,76);
    }
}

.reg {
    color: black;
    position: relative;
    top: 25px;
    width: 100%;
    cursor: pointer;
}

.resend {
    color: black;
    font-size: 18px;
    margin: 5px;
    width: 100%;
    cursor: pointer;
}