<ion-header >
 
  <ion-toolbar>
    <ion-title>
       <div class="header" style="background:#fe914c;     background: #fe914c;
    padding: 0px 0px 49px 0px;">
      <div class='header-logo'>
          <ion-img class='logo-img' [src]="logoPath" style="background: #fff; width: 100%; height: 70px; border-radius: 0 0 20px 20px;
    padding: 0;   box-shadow: 0px 3px 6px 0 #ccc;"></ion-img>
          <div class='header-title'>
           <ion-icon name="arrow-back" float-left routerLink="/login"></ion-icon> <h1  text-center>REGISTER</h1>
        </div>
      </div>
     </div>
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content padding>
    <form class='login-form' [formGroup]="registerForm">
        <p class='form-header' text-center>Fill in the following details</p>
        
        <ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Mobile No <span class="mandatory">*</span> </ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              First Name <span class="mandatory">*</span> </ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
          <ion-item class="margin-top-50">
            <ion-label position="floating">
              Last Name <span class="mandatory">*</span> </ion-label>
            <ion-input type="text" formControlName="lastname"></ion-input>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
          <ion-item>
            <ion-label position="floating"> State <span class="mandatory">*</span> </ion-label>
            <ion-select interface="action-sheet" formControlName="state">
              <ion-select-option *ngFor="let s of state; let i = index" value="{{s}}">{{s}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
          <ion-item width-50>
            <ion-label position="floating"> City <span class="mandatory">*</span></ion-label>
            <ion-select interface="action-sheet" formControlName="city">
              <ion-select-option *ngFor="let c of city; let i = index" value="{{c}}">{{c}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-row>

        <ion-row margin-top>
            <a class='resend' tabindex="0" text-right *ngIf='showOtp' (click)='generateOtp()'> <ion-icon name="paper-plane" margin-right></ion-icon> Send OTP</a>  
            <a class='resend' tabindex="0" text-right *ngIf='sendOtp' (click)='generateOtp()'> <ion-icon name="sync" margin-right></ion-icon> Resend OTP</a>
            <ion-item class="margin-top-50">
              <ion-label position="floating">
                Otp <span class="mandatory">*</span> </ion-label>
              <ion-input type="text" formControlName="otp"></ion-input>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-button color="warning" class='reg-btn' shape="round" fill="solid" [disabled]='!registerForm.valid' (click)='register()'>Register</ion-button>
            <!-- <span class='reg' routerLink="/register" text-center> Already Registred? <a [routerLink]="['/login']">Login here</a></span> -->
        </ion-row>

    </form>
</ion-content>
